organization,organization_id,unique_host_count,hostnames
{% for org in chargeback_report | sort(attribute='organization') %}
"{{ org.organization }}",{{ org.organization_id }},{{ org.unique_host_count }},"{{ org.hostnames | join(';') }}"
{% endfor %}
