{{ {'from_date': chargeback_from_date, 'to_date': chargeback_to_date, 'generated_at': lookup('pipe', 'date -u +%Y-%m-%dT%H:%M:%SZ'), 'organizations': (chargeback_report | sort(attribute='organization'))} | to_nice_json }}
